.navbar-fixed .container .brand-logo  {
	witdh:20px;
	height:20px;
	vertical-align:middle;
}

.slider h3,
.slider h5,
.clients h3 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

/* Login and sign up */


/* Banner */
.slider{
	opacity:100%;
}

.slider h3,
.slider h5{
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.parallax-container{
	height:20%;
}

.parallax img{
	filter:grayscale(1);
	opacity: 0.5 !important;
}

/* Sosial media button*/
.sosmed img{
    opacity: 60%;
    max-width: 80px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,1));
}

.sosmed img:hover{
    opacity: 100%;
}


/* Footer */
.page-footer {
	background-color: #757575 !important ;
}

.page-footer .container img{
	max-height: 30px;
	vertical-align: middle;
}

/* Login form */
.gambaruser img{
	max-width:	100px;
	vertical-align: middle;
}

/* Guild Structure */
.GuildStructure .card-image .material-icons {
	vertical-align: middle;
}
